In [60]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv(r'../data/H2.csv')

In [62]:
df.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,6,2015,July,27,1,0,2,1,0.0,...,No Deposit,6,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-03
1,1,88,2015,July,27,1,0,4,2,0.0,...,No Deposit,9,NULL,0,Transient,76.5,0,1,Canceled,2015-07-01
2,1,65,2015,July,27,1,0,4,1,0.0,...,No Deposit,9,NULL,0,Transient,68.0,0,1,Canceled,2015-04-30
3,1,92,2015,July,27,1,2,4,2,0.0,...,No Deposit,9,NULL,0,Transient,76.5,0,2,Canceled,2015-06-23
4,1,100,2015,July,27,2,0,2,2,0.0,...,No Deposit,9,NULL,0,Transient,76.5,0,1,Canceled,2015-04-02

In [63]:
df = df.sort_index(axis = 1)

In [64]:
df

,ADR,Adults,Agent,ArrivalDateDayOfMonth,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateYear,AssignedRoomType,Babies,BookingChanges,...,Meal,PreviousBookingsNotCanceled,PreviousCancellations,RequiredCarParkingSpaces,ReservationStatus,ReservationStatusDate,ReservedRoomType,StaysInWeekNights,StaysInWeekendNights,TotalOfSpecialRequests
0,0.00,1,6,1,July,27,2015,A,0,0,...,HB,0,0,0,Check-Out,2015-07-03,A,2,0,0
1,76.50,2,9,1,July,27,2015,A,0,0,...,BB,0,0,0,Canceled,2015-07-01,A,4,0,1
2,68.00,1,9,1,July,27,2015,A,0,0,...,BB,0,0,0,Canceled,2015-04-30,A,4,0,1
3,76.50,2,9,1,July,27,2015,A,0,0,...,BB,0,0,0,Canceled,2015-06-23,A,4,2,2
4,76.50,2,9,2,July,27,2015,A,0,0,...,BB,0,0,0,Canceled,2015-04-02,A,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79325,96.14,2,394,30,August,35,2017,A,0,0,...,BB,0,0,0,Check-Out,2017-09-06,A,5,2,0
79326,225.43,3,9,31,August,35,2017,E,0,0,...,BB,0,0,0,Check-Out,2017-09-07,E,5,2,2
79327,157.71,2,9,31,August,35,2017,D,0,0,...,BB,0,0,0,Check-Out,2017-09-07,D,5,2,4
79328,104.40,2,89,31,August,35,2017,A,0,0,...,BB,0,0,0,Check-Out,2017-09-07,A,5,2,0
79329,151.20,2,9,29,August,35,2017,A,0,0,...,HB,0,0,0,Check-Out,2017-09-07,A,7,2,2

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79330 entries, 0 to 79329
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ADR                          79330 non-null  float64
 1   Adults                       79330 non-null  int64
 2   Agent                        79330 non-null  object
 3   ArrivalDateDayOfMonth        79330 non-null  int64
 4   ArrivalDateMonth             79330 non-null  object
 5   ArrivalDateWeekNumber        79330 non-null  int64
 6   ArrivalDateYear              79330 non-null  int64
 7   AssignedRoomType             79330 non-null  object
 8   Babies                       79330 non-null  int64
 9   BookingChanges               79330 non-null  int64
 10  Children                     79326 non-null  float64
 11  Company                      79330 non-null  object
 12  Country                      79306 non-null  object
 13  CustomerType                 79330 non-null  object
 14  DaysInWaitingList            79330 non-null  int64
 15  DepositType                  79330 non-null  object
 16  DistributionChannel          79330 non-null  object
 17  IsCanceled                   79330 non-null  int64
 18  IsRepeatedGuest              79330 non-null  int64
 19  LeadTime                     79330 non-null  int64
 20  MarketSegment                79330 non-null  object
 21  Meal                         79330 non-null  object
 22  PreviousBookingsNotCanceled  79330 non-null  int64
 23  PreviousCancellations        79330 non-null  int64
 24  RequiredCarParkingSpaces     79330 non-null  int64
 25  ReservationStatus            79330 non-null  object
 26  ReservationStatusDate        79330 non-null  object
 27  ReservedRoomType             79330 non-null  object
 28  StaysInWeekNights            79330 non-null  int64
 29  StaysInWeekendNights         79330 non-null  int64
 30  TotalOfSpecialRequests       79330 non-null  int64
dtypes: float64(2), int64(16), object(13)
memory usage: 18.8+ MB

In [66]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ADR,79330.0,105.304465,43.602954,0.0,79.2,99.9,126.0,5400.0
Adults,79330.0,1.850977,0.509292,0.0,2.0,2.0,2.0,4.0
ArrivalDateDayOfMonth,79330.0,15.786625,8.728451,1.0,8.0,16.0,23.0,31.0
ArrivalDateWeekNumber,79330.0,27.177449,13.398523,1.0,17.0,27.0,38.0,53.0
ArrivalDateYear,79330.0,2016.174285,0.699181,2015.0,2016.0,2016.0,2017.0,2017.0
Babies,79330.0,0.004941,0.084323,0.0,0.0,0.0,0.0,10.0
BookingChanges,79330.0,0.187369,0.608620,0.0,0.0,0.0,0.0,21.0
Children,79326.0,0.091370,0.372177,0.0,0.0,0.0,0.0,3.0
DaysInWaitingList,79330.0,3.226774,20.870890,0.0,0.0,0.0,0.0,391.0
IsCanceled,79330.0,0.417270,0.493111,0.0,0.0,0.0,1.0,1.0
IsRepeatedGuest,79330.0,0.025615,0.157983,0.0,0.0,0.0,0.0,1.0
LeadTime,79330.0,109.735724,110.948526,0.0,23.0,74.0,163.0,629.0
PreviousBookingsNotCanceled,79330.0,0.132371,1.693411,0.0,0.0,0.0,0.0,72.0
PreviousCancellations,79330.0,0.079743,0.415472,0.0,0.0,0.0,0.0,21.0
RequiredCarParkingSpaces,79330.0,0.024367,0.154919,0.0,0.0,0.0,0.0,3.0
StaysInWeekNights,79330.0,2.182957,1.456416,0.0,1.0,2.0,3.0,41.0
StaysInWeekendNights,79330.0,0.795185,0.885026,0.0,0.0,1.0,2.0,16.0
TotalOfSpecialRequests,79330.0,0.546918,0.780776,0.0,0.0,0.0,1.0,5.0

# Data Analysis

### Merging Date Columns

In [67]:
months = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May':5, 'June': 6, 'July': 7, 'August': 8,
 'September': 9, 'October': 10, 'November': 11, 'December': 12}

In [68]:
df = df.replace({'ArrivalDateMonth' : months})

In [69]:
df['ArrivalDate'] = df['ArrivalDateDayOfMonth'].astype(str) + '/' + df['ArrivalDateMonth'].astype(str) + '/' +  df['ArrivalDateYear'].astype(str)

In [70]:
pd.DataFrame(df['ArrivalDate'])

      ArrivalDate
0        1/7/2015
1        1/7/2015
2        1/7/2015
3        1/7/2015
4        2/7/2015
...           ...
79325   30/8/2017
79326   31/8/2017
79327   31/8/2017
79328   31/8/2017
79329   29/8/2017

[79330 rows x 1 columns]

In [71]:
df.drop(['ArrivalDateDayOfMonth', 'ArrivalDateMonth', 'ArrivalDateYear'], axis = 1, inplace = True)

## Duplicates

In [72]:
df.duplicated().sum()

25902

In [73]:
df.drop_duplicates(inplace= True)

In [74]:
df.duplicated().sum()

0

## Null Values

In [ ]:
df['Children'].isna().sum()

In [ ]:
df['Children'].replace({np.nan:0}, inplace=True)

In [79]:
df['Country'].isna().sum()

6

In [80]:
df.dropna(axis = 0, inplace= True)

In [81]:
df['Country'].isna().sum()

0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53422 entries, 0 to 79329
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ADR                          53422 non-null  float64
 1   Adults                       53422 non-null  int64
 2   Agent                        53422 non-null  object
 3   ArrivalDateWeekNumber        53422 non-null  int64
 4   AssignedRoomType             53422 non-null  object
 5   Babies                       53422 non-null  int64
 6   BookingChanges               53422 non-null  int64
 7   Children                     53422 non-null  float64
 8   Company                      53422 non-null  object
 9   Country                      53422 non-null  object
 10  CustomerType                 53422 non-null  object
 11  DaysInWaitingList            53422 non-null  int64
 12  DepositType                  53422 non-null  object
 13  DistributionChannel          53422 non-null  object
 14  IsCanceled                   53422 non-null  int64
 15  IsRepeatedGuest              53422 non-null  int64
 16  LeadTime                     53422 non-null  int64
 17  MarketSegment                53422 non-null  object
 18  Meal                         53422 non-null  object
 19  PreviousBookingsNotCanceled  53422 non-null  int64
 20  PreviousCancellations        53422 non-null  int64
 21  RequiredCarParkingSpaces     53422 non-null  int64
 22  ReservationStatus            53422 non-null  object
 23  ReservationStatusDate        53422 non-null  object
 24  ReservedRoomType             53422 non-null  object
 25  StaysInWeekNights            53422 non-null  int64
 26  StaysInWeekendNights         53422 non-null  int64
 27  TotalOfSpecialRequests       53422 non-null  int64
 28  ArrivalDate                  53422 non-null  object
dtypes: float64(2), int64(14), object(13)
memory usage: 12.2+ MB

## Data Pre-Processing

In [85]:
metric_features = ['ADR', 'Adults', 'Babies', 'BookingChanges',
                'Children', 'DaysInWaitingList', 'LeadTime', 'PreviousBookingsNotCanceled',
                'PreviousCancellations', 'RequiredCardParkingSpaces', 'StaysInWeekendNights',
                'StaysInWeekNights', 'TotalOfSpecialRequests']
non_metric_features = ['Agent','ArrivalDate','ArrivalDateWeekNumber',  'AssignedRoomType', 'Company', 'Country', 'CustomerType', 'DepositType',
                    'DistributionChannel', 'IsRepeatedGuest' , 'MarketSegment', 'Meal', 'ReservationStatus',
                    'ReservationStatusDate', 'ReservedRoomType']
y = df['IsCanceled']
df = df.drop(['IsCanceled'], axis = 1, inplace= True)